<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
